h1 {
    color: white;
    text-align: center;
    font-size: 75px;
    }
    
    p {
    color: white;
    text-align: center;
    }
    
    body {
      background-color: #021f35;
    }
    
    img {
    text-align: center;
    }

    .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .layer1 {
        background-image: url('assets/layer1.svg');
    }
    .layer2 {
        background-image: url('assets/layer2.svg');
    }
    .layer3 {
        background-image: url('assets/layer3.svg');
    }
    .flip {
        transform: rotate(180deg);
    }

    .slogan {
        font-size: 45px;
        color: white;
        text-align: center;
    }

    .downloadslogan {
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .button {
        background-color: #ffffff;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        color: black;
      }

      .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .wave svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 189px;
    }
    
    .wave .shape-fill {
        fill: #022F9B;
    }

    .red {
        background-color: #dd3f31;
    }